#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="content box">
    <p class="title">
        About The App
    </p>
    <div class="columns is-desktop">
        <div class="column is-one-thirds">
            This is a Web companion application designed to work with the Weather Top 1000 meteorological device.
            <br>
            It correctly displays the instrument readings in a user-friendly and navigable application.
            The application has more features to come in future releases.
        </div>
        <div class="column is-two-third">

            <figure class="image is-600x600">
                <img src="public/images/weather.png">
            </figure>
        </div>
    </div>

</div>

