#{extends 'main.html' /}
#{set title:'Welcome' /}

#{menu id:"start"/}

<div class="content box">
    <p class="title">
        Welcome to Weather Top
    </p>
    <div class="columns is-desktop">

        <div class="column is-two-third">

            <figure class="image is-600x600">
                <img src="public/images/4Seasons.png">
            </figure>
        </div>
        <div class="column is-one-thirds">
            A tailored app that lets you store and display weather station data. This app will allow you to create,
            manage and share your station data. Simply enter the Station details on the dashboard.
            <br>
            It correctly displays the instrument readings in a user-friendly and navigable application.
            <br>
            Click on the navigation labels to read more about the app and to view pre-loaded and log new weather data manually, click on the Dashboard.
        </div>
    </div>

</div>
